# Exclude files and directories from the Docker build context to speed up builds

# Node and build artifacts
node_modules
dist
build
coverage

# Local env and secrets
.env
.env.test
secrets.dev.yaml
values.dev.yaml

# Editor and OS files
.vscode
.idea
.vs
.classpath
.project
.settings

# Git and Docker helpers
.git
.gitignore
Dockerfile*
docker-compose*
compose.y*ml
docker-compose.override.yml

# Logs and temporary files
npm-debug.log
logs

# Misc
LICENSE
README.md
