# Database configuration
DATABASE_URL=
DATABASE_NAME=


# JWT configuration
SECRET=
REFRESH_EXPIRES_IN=
ACCESS_EXPIRES_IN=

# Redis configuration
REDIS_HOST=
REDIS_PORT=

# Mail configuration
RESEND_API_KEY=
EMAIL_FROM=
FRONTEND_URL=